<script setup lang="ts">
import { mdiPhone, mdiFacebook, mdiEmail, mdiInstagram } from "@mdi/js";
</script>

<template>
  <v-container>
    <div class="text">My Profile</div>
    <div class="name">Thanwa Saensud (63160006)</div>
    <div class="name2">Burapha University: Computer Science</div>
    <br />
    <div class="align-center bg-grey-lighten-4">
      <v-row>
        <v-col cols="2.5">
          <div class="ma-4">
            <v-img
              class="bg-white"
              width="200"
              :aspect-ratio="0.9"
              src="./img/thanwa.jpg"
              style="left: 10px"
              cover
            ></v-img>
          </div>
        </v-col>
        <v-col cols="4">
          <v-table class="table">
            <thead>
              <tr>
                <th style="font-size: 12pt">ประวัติการศึกษา</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รหัสประจำตัว:</td>
                <td>63160006</td>
              </tr>
              <tr>
                <td>ชื่อ-นามสกุล:</td>
                <td>นายธันวา แสนสุด</td>
              </tr>
              <tr>
                <td>ชื่ออังกฤษ:</td>
                <td>MR. THANWA SAENSUD</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
        <v-col style="margin-right: 130px" cols="4">
          <v-table class="table">
            <thead>
              <tr>
                <th style="font-size: 12pt">สิ่งที่สนใจ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>สถานที่ท่องเที่ยว:</td>
                <td>ภูเขาไฟฟูจิ, ไร่ชาฉุยฟง, ภูชี้ฟ้า</td>
              </tr>
              <tr>
                <td>อาหารที่ชอบ:</td>
                <td>พะแนง, กระเพราหมูกรอบ, หมูปิ้ง</td>
              </tr>
              <tr>
                <td>งานอดิเรก:</td>
                <td>ดูหนัง, ฟังเพลง, เล่นเกม</td>
              </tr>
              <tr>
                <td>กีฬาที่ชอบ:</td>
                <td>ฟุตบอล, ว่ายน้ำ, วิ่งมาราธอน</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </div>
    <div>
      <v-row align="center">
        <v-col style="padding: 50px; text-align: center"
          ><v-icon :icon="mdiPhone" /> 0932429885</v-col
        >
        <v-col style="padding: 50px; text-align: center"
          ><v-icon :icon="mdiFacebook" /> Thanwa Saensud</v-col
        >
        <v-col style="padding: 40px; text-align: center"
          ><v-icon :icon="mdiEmail" /> 63160006@go.buu.ac.th</v-col
        >
        <v-col style="padding: 50px; text-align: center"
          ><v-icon :icon="mdiInstagram" /> thuch_ss</v-col
        >
      </v-row>
    </div>
  </v-container>
</template>

<style scoped>
.text {
  text-align: center;
  font-size: 40pt;
  font-family: Garamond, serif;
}
.table {
  font-family: "Kanit", sans-serif;
}
.name {
  font-size: 15pt;
  font-family: Georgia, serif;
}
</style>
